.about__main {
  padding: 40px 0px;
}
.about__image {
  height: auto;
  width: 70%;
}
.about__text {
  text-align: justify;
  color: white;
}

.about__social {
  width: 40px;
  margin-right: 6px;
  border: 1px solid white;
  padding: 8px;
  background:white;
}

.about__h1 {
  text-transform: capitalize;
  color: white;
}
