.blogTemplate__main {
margin-top:50px;
}

.blogTemplate__h1 {
               color:white;
               text-transform: uppercase;
}

.blogTemplate__date {
               color:white;
}

.blogTemplate__text {
               color:white;
}