@import "./default.module.scss";

.blog {
margin:100px 0px;
}

.row {
margin: 30px 0px;
// background:#242629;
}

.blog__text {
    color:white;
}

.blog__img{
    width:100%;
    height:auto;
}

.blog__readmore,.blog__readmore:hover {
background:#7f5af0;
border-radius:0px;
color:white;
margin:7px 0px;
padding:3px 6px;
}

.blog__subheadline {
    color:#94a1b2
}

.createdAt {
    font-size:14px;
    color:#94a1b2
}

.blog__tag,.blog__tag:hover {
margin-right:4px;
color:#94a1b2
}

.blog__searchInput,.blog__searchInput:hover,.blog__searchInput:focus {
    background:$purple_color;
    border-color:#94a1b2;
    color:white;
    border-radius:0px;
}