@import url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);

$raleway_font:'Raleway';
$purple_color:#16161a;
body {
               background:$purple_color;
               font-family:$raleway_font;
               
}

@media (max-width: 575.98px) {
               .main h1 {
                font-size: 25px;
                margin-top: 0px;
              }
               .main {
                              text-align:center;
                padding: 250px 0px;
              }
              .main p {
                             font-size:15px;
              }
                     
            }
      
            @media (min-width: 576px) and (max-width: 767.98px) {
              .main h1 {
                font-size: 30px;
                margin-top: 0px;
              }
               .main {
                padding: 250px 0px;
              }
              .main p {
               font-size:16px;
               }
                     
            }
            /*Medium devices (tablets, 768px and up)*/
      @media (min-width: 768px) and (max-width: 991.98px) {
        .main h1 {
               font-size: 33px;
          margin-top: 0px;
        }
         .main {
          padding: 250px 0px;
        }
        .main p {
               font-size:16px;
               }
      }
      
//       Large devices (desktops, 992px and up)
      @media (min-width: 992px) and (max-width: 1199.98px) {  }
//        Extra large devices (large desktops, 1200px and up)
      @media (min-width: 1200px) {  } 