@import url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);

$raleway_font:'Raleway';
$purple_color:#16161a;
body {
               background:$purple_color;
               font-family:$raleway_font;
               
}