
@import "./default.module.scss";

.main {
  padding: 100px 0px;
  border: 0px;
}
.text {
  margin: 130px 0px;
}
.main__h1 {
  font-size:80px;
  color: white;
}

.main__btn-default,.main__btn-default:hover {
  border-radius: 0px;
  background-color: #7f5af0;
  color: white;
  margin-right:6px;
}


.main__p {
  color: #94a1b2;
  font-size: 21px;
}

@media (max-width: 575.98px) {
  .main__h1 {
    font-size: 30px;
    margin-top: 0px;
  }
  .main__p {
    font-size: 18px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  .main__h1 {
    font-size: 30px;
    margin-top: 0px;
  }

  .main__p {
    font-size: 18px;
  }

}
