
@import "./default.module.scss";

.main {
  padding: 350px 0px 350px 0px;
  border: 0px;
  // text-align: center;
}
// .text {
//   margin: 130px 0px;
// }
.main__h1 {
  font-size:70px;
  color: white;
}

.main__btn-default,.main__btn-default:hover {
  border-radius: 0px;
  background-color: #7f5af0;
  color: white;
  margin-right:6px;
}


.main__p {
  color: #94a1b2;
  font-size: 21px;
}


