
.projects {
margin:80px 0px;
}

.row {
margin: 20px 0px;
}

.projects__text {
    color:white;
}

.projects__img{
    width:100%;
    height:auto;
}

.projects__btn {
    background:white;
    border-radius:0px;
}