
.projects {
margin:90px 0px;
}

.row {
margin: 30px 0px;
// background:#242629;
}

.projects__text {
    color:white;
}

.projects__img{
    width:100%;
    height:auto;
}

.projects__btn,.projects__btn:hover {
    background:#7f5af0;
    border-radius:0px;
    color:white
}

.projects__subheadline {
    color:#94a1b2
}

.h3 {
    font-size:28px;
    color:white;
}