$primaryBackground: #16161a;
$secondaryBackground: #242629;

$primaryColor: white;

$buttonBackground: #7f5af0;
$paraColor: #94a1b2;

// orange, white, grey color schemes

// $primaryBackground: #eff0f3;
// $secondaryBackground: #fffffe;

// $primaryColor: #0d0d0d;

// $buttonBackground: #ff8e3c;
// $paraColor: #2a2a2a;

:export {
  primarybackground: $primaryBackground;
  secondarybackground: $secondaryBackground;
  primarycolor: $primaryColor;
  buttonbackground: $buttonBackground;
  paracolor: $paraColor;
}
