@use "@app/styles/variables/colors.module";
@use "@app/styles/variables/sizes.module";
.blogs {
  padding: 50px 0px;
  a {
    text-decoration: none;
  }
  .blog {
    padding: 30px;
    margin-top: 30px;
    background: colors.$secondaryBackground;
    .title {
      margin: 15px 0px;
      color: colors.$primaryColor;
      position: relative;
    }
    .date {
      color: colors.$paraColor;
    }
    .btn {
      margin: 20px 0px;
    }

    @media screen and (max-width: sizes.$md) {
      .title {
        font-size: 25px;
      }
      .date {
        font-size: 16px;
      }
    }
  }
  .seeAll {
    text-align: center;
    margin-top: 60px;
  }

  @media screen and (max-width: sizes.$md) {
    padding: 0px 0px;
  }
}
