@use "@app/styles/variables/colors.module";
@use "@app/styles/variables/sizes.module";
.post {
  background-color: transparent;
  color: unset;
  &:first-of-type {
    margin: 30px 0px;
  }
  &:not(:first-of-type) {
    margin: 100px 0px;
  }
  border: 0px !important;
}
